/* 
    Created on : 15/03/2018, 15:54:40
    Author     : luis
*/
:root {
    --vermelhoPadrao: #dd4b39;
    --vermelhoEscuroPadrao: #c42a31;
    --brancoPadrao: #ffffff;
    --pretoPadrao: #000000;
    --cinzaPadrao: #717171;
}


.navbar-default{
    background-color:var( --vermelhoPadrao );;
    border-color:#c53c2b;
}
.navbar-default .navbar-brand{
    color: #ffffff;
}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{
    color: #ffffff;
    background-color: #c53726;
}
.navbar-default .navbar-text{
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
    background-color:#c53726;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
    color: #ffffff;
    background-color:transparent;
}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{
    color:#ffffff;
    background-color:transparent;
}
.navbar-default .navbar-toggle{
    border-color:#ddd
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
    background-color: #c53726;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{
    border-color:#c53c2b;
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{
    color:#ffffff;
    background-color:#c53c2b;
}
@media (max-width:767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color:var( --vermelhoPadrao );
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color:#ffffff;
        background-color:transparent
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{
        color:#ffffff;
        background-color:#c53c2b;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{
        color:#ccc;
        background-color:transparent
    }
}
.navbar-default .navbar-link{
    color:var( --vermelhoPadrao );
}
.navbar-default .navbar-link:hover{
    color:#ffffff;
}
.navbar-default .btn-link{
    color:var( --vermelhoPadrao );
}
.navbar-default .btn-link:focus,.navbar-default .btn-link:hover{
    color:#ffffff;
}
.navbar-default .btn-link[disabled]:focus,.navbar-default .btn-link[disabled]:hover,fieldset[disabled] .navbar-default .btn-link:focus,fieldset[disabled] .navbar-default .btn-link:hover{
    color:#ccc
}